<div class='row'>
  <div class='col-lg-12'>
    <h1>Executives:</h1>
    <ul>
      <% @execs.each do |exec| %>
      <li><%=link_to exec.name, exec_path(exec) %> |
        <%= exec.email %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
