<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-3'>
    	<div class='sidebar'>
        <h2><%=link_to "All Executives", root_path %></h2>
        <ul>
          <% @execs.each do |exec| %>
            <li><%=link_to exec.name, "#", class: 'exec',  data: { exec_id: exec.id } %></li>
          <% end %>
        </ul>
			  	<%#= link_to "Executives Index", execs_path, class: 'btn btn-default' %>
    			<!-- only show this if admin -->
          <% if current_user %>
            <% if current_user.admin %>
              <%= link_to "Schedule Meeting", new_meeting_path, class: 'btn btn-default' %>
            <% end %>
          <% end %>
			</div>
    </div>

		<%= render 'meetings/index' %>

    <div class='col-md-1'></div>
  </div>
</div>
