/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .navbar {
    font-size: 20px;
    width: 100%;
    background: linear-gradient(to left, #0B3B17, transparent);
 }

 .nav-main {
    /*position: absolute;*/
    font-size: 16px;
    list-style-type: none;
    padding: 10px;
 }

 .nav-div {
  width: 50%;
  float: left;
 }
 .links {
    /*position: relative;*/
    text-align: right;
 }

 .icon {
    /*position: relative;*/
    text-align: left;
 }

 .flash {
    color: red;
    font-size: 16px;
    font-weight: 500;
 }

 .show {
    border: 1px solid black;
 }

 .background {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
 }