// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar td {
  border-right  : 1px solid #A2ADBC;
  border-bottom : 1px solid #A2ADBC;
  width         : 10%;
  height        : 10%;
  vertical-align: top;
  background-color: #9CD9B6;
}

.calendar td.today {
  color      : #F6F4DA;
  background-color: #60BF88;
}