.prev-month {
  background-color: #D5E0DD;
}

.next-month {
  background-color: #D5E0DD;
}

.calendar thead tbody {
  width: 100%;
}

.calendar {
}

.calendar-header {
  text-align: center;
  margin: 20px;
  font-size: 24px;
  padding: 0 20%;
}

.calendar-header span {
  padding: 10px 10%;
}

.calendar-container table {
  width: 100%;
}

.calendar-container thead {
  background-color: #32957B;
  color: white;
}

.calendar-container thead th {
  text-align: center;
}

/* individual cell formatting - EU's work*/
.day {
  border        : 1px solid #A2ADBC;
  width         : 14%;
  height        : 120px;
  vertical-align: top;
  text-align: right;
}

td.today {
  color           : #F6F4DA;
  background-color: #60BF88;
}

.form input {
  width: 50%;
}

.claimbox {
  display: none;
  position: absolute;
  background-color: papayawhip;
  text-align: left;
  min-width: 200px;
  padding: 10px;
  border: 1px solid #A2ADBC;
  border-radius: 10px;
}

.claimbox ul {
  list-style-type: none;
  padding: 0;
}

.close-icon {
  float: right;
}
