.modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 998;
  display: none;
}

.modal-background {
  position: fixed;
  height: 100%;
  width: 100%;
}

.modal-container .content {
  background-color: white;
  position: fixed;
  width: 30%;
  left: 35%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 50px;
  padding-top: 20px;
  z-index: 999;
}

.modal-container .content input {
  width: 100%;
}

.modal-container .content h1 {
  text-align: center;
}

.exit-modal {
  float: right;
}

.current-user {
  color: #04B431;
}

.current-user a {
  color: white;
}

.current-user a:visited {
  color: #BDBDBD;
}

.sidebar {
  margin-top: 50px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  display: block;
  padding: 5px;
  font-size: 16px;
}

.sidebar li.selected {
  font-weight: bold;
  background-color: #32957B;
}

.sidebar li.selected a {
  color: white;
}
.sidebar a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

a {
  padding: 5px;
}

.timeslot:hover {
  background-color: #32957B;
}

